body {
    margin:0;
    padding:0;
}

header {
    background-color: rgb(19, 26, 34);
    height:60px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.right_header {
    color: white;
    display: flex;
    gap:4px;
}

